
  <!-- Sign in / sign up modal-->


  <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="si-email">Email address</label>
              <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3 d-flex flex-wrap justify-content-between">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="si-remember">
                <label class="form-check-label" for="si-remember">Remember me</label>
              </div><a class="fs-sm" href="#">Forgot password?</a>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
          <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
            <div class="mb-3">
              <label class="form-label" for="su-name">Full name</label>
              <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
              <div class="invalid-feedback">Please fill in your name.</div>
            </div>
            <div class="mb-3">
              <label for="su-email">Email address</label>
              <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password-confirm">Confirm password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password-confirm" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <main class="page-wrapper">

    <!-- Page Title-->
    <div class="bg-accent pt-4" style="padding-bottom: 35px;">
      <div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
        <div class="d-lg-flex justify-content-between pb-3">
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Book Shelf</h1>
          </div>
        </div>
      </div>
    </div>



    <div class="container pb-5 mb-2 mb-md-4">
      <!-- Toolbar-->
      <div class="bg-light shadow-lg rounded-3 mb-4" style="margin-top: -35px;">
        <div class="d-flex">
          <!-- Search-->
          <div class="w-100">
            <div class="input-group ms-2 pe-sm-3">
              <input class="form-control bg-transparent rounded-0 border-0 shadow-none ps-5 py-4" name="searchText" [(ngModel)]="searchText" type="text" placeholder="Search by title, author, description or ISBN..."><i class="ci-search position-absolute top-50 start-0 translate-middle-y zindex-5 ms-3 fs-lg text-muted"></i>
            </div>
          </div>
          <!-- Sorting-->
          <div class="flex-shrink-0 border-start">
            <div class="dropdown">
              <button *ngIf="recentlyAdded == true" class="btn border-0 p-4 fw-medium" style="color:black;" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="d-sm-inline d-none">Recently added</span><i class="ci-arrow-down ms-sm-2 fs-sm"></i></button>
              <button *ngIf="oldest == true" class="btn border-0 p-4 fw-medium" style="color:black;" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="d-sm-inline d-none">Oldest</span><i class="ci-arrow-down ms-sm-2 fs-sm"></i></button>
              <div *ngIf="recentlyAdded == true" class="dropdown-menu w-100"><a (click)="recentlyAdded=true; oldest=false;" class="dropdown-item active" href="#" style="white-space: normal;">Recently added</a><a (click)="oldest=true; recentlyAdded=false;" class="dropdown-item" href="#" style="white-space: normal;">Oldest</a></div>
              <div *ngIf="oldest == true" class="dropdown-menu w-100"><a (click)="recentlyAdded=true; oldest=false;" class="dropdown-item" href="#" style="white-space: normal;">Recently added</a><a (click)="oldest=true; recentlyAdded=false;" class="dropdown-item active" href="#" style="white-space: normal;">Oldest</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Filters-->
      <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-between pt-lg-3">
        <div class="d-flex flex-wrap">
          <!-- Categories-->
          <div class="dropdown mb-lg-3 mb-2 me-lg-3 me-2">
            <button class="btn btn-outline-accent dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Genre</button>
            <div class="dropdown-menu mt-lg-2 mt-1" style="min-width: 260px;">
              <div class="widget px-3">
                <ul class="widget-list list-unstyled">
                  <li *ngFor="let category of categories" class="d-flex justify-content-between align-items-center mb-1">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" (change)="check(category)">
                      <label class="form-check-label" for="all">{{category.name}}</label>
                    </div><span class="fs-xs text-muted">{{categoryNumber(category)}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="dropdown mb-lg-3 mb-2 me-lg-3 me-2">
            <button class="btn btn-outline-accent dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Language</button>
            <div class="dropdown-menu mt-lg-2 mt-1" style="min-width: 260px;">
              <div class="widget px-3">
                <ul class="widget-list list-unstyled">
                  <li *ngFor="let language of languages" class="d-flex justify-content-between align-items-center mb-1">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" (change)="checkLanguage(language)">
                      <label class="form-check-label" for="all">{{language.name}}</label>
                    </div><span class="fs-xs text-muted">{{languageNumber(language)}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Price range-->
          <div class="dropdown mb-lg-3 mb-2 me-lg-3 me-2">
            <button class="btn btn-outline-accent dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Page Count</button>
            <div class="dropdown-menu mt-lg-2 mt-1 p-3" style="min-width: 260px;">
                <div class="d-flex align-items-center">
                  <div class="w-50">
                    <input [(ngModel)]="lowestPageCount" name="lowestPageCount" class="form-control form-control-sm" type="text" placeholder="From">
                  </div><span class="d-inline-block mx-2">–</span>
                  <div class="w-50">
                    <input  [(ngModel)]="highestPageCount" name="highestPageCount" class="form-control form-control-sm" type="text" placeholder="To">
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Total-->
        <div class="mb-3 fs-sm text-muted" >{{findCount()}} results</div>
      </div>
      <!-- Products grid-->
      <div>
        <!-- Product-->
        <div *ngIf="recentlyAdded==true" class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 pt-lg-4 pt-2">
          <div *ngFor="let book of books.slice().reverse()| bookshelfSearch: searchText | category:filteredCategories | language:filteredLanguages | pageCount:lowestPageCount:highestPageCount; let i = index" class="col mb-2">{{displayCount(i)}}

                <article class="card h-100 border-0 shadow">
                  <div class="card-img-top position-relative overflow-hidden"><a class="d-block" (click)="displayBook(book.id)"><img [src]="book.imgUrl" alt="Book image"></a>
                </div>
                <div class="card-body">
                  <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" (click)="displayBook(book.id)">{{book.title}}</a></h3><span *ngFor="let category of book.categories" class="fs-sm text-muted">Genre: {{category.name}}</span>
                  <div class="d-flex align-items-center flex-wrap">
                    <h4 *ngFor="let author of book.authors" class="mt-1 mb-0 fs-base text-darker">Author: {{author.fullName}} </h4><span class="mt-1 ms-1 fs-xs text-muted">Publish Date: {{book.publishDate|date: "mediumDate"}}</span>
                  </div>
                  <div class="d-flex align-items-center flex-wrap">
                    <span class="mt-1 ms-1 fs-xs text-muted">Page Count: {{book.pageCount}}</span>
                  </div>
                </div>
                <div class="card-footer mt-n1 py-0 border-0">
                  <div class="d-flex align-items-center position-relative mb-1 py-3 border-top"><img class="me-2 rounded-circle" src="assets/img/nft/catalog/avatars/01.png" width="32" alt="Avatar"><a class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">{{followingBooks(book)}}</a></div>
                </div>
              </article>
        </div>
      </div>
      <div *ngIf="oldest==true" class="col mb-2" class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 pt-lg-4 pt-2">
        <div *ngFor="let book of books | bookshelfSearch: searchText | category:filteredCategories | language:filteredLanguages; let i = index" class="col mb-2">{{displayCount(i)}}
          <article class="card h-100 border-0 shadow">
            <div class="card-img-top position-relative overflow-hidden"><a class="d-block" (click)="displayBook(book.id)"><img [src]="book.imgUrl" alt="Book image"></a>
          </div>
          <div class="card-body">
            <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" (click)="displayBook(book.id)">{{book.title}}</a></h3><span *ngFor="let category of book.categories" class="fs-sm text-muted">Genre: {{category.name}}</span>
            <div class="d-flex align-items-center flex-wrap">
              <h4 *ngFor="let author of book.authors" class="mt-1 mb-0 fs-base text-darker">Author: {{author.fullName}} </h4><span class="mt-1 ms-1 fs-xs text-muted">Publish Date: {{book.publishDate|date: "mediumDate"}}</span>
            </div>
            <div class="d-flex align-items-center flex-wrap">
              <span class="mt-1 ms-1 fs-xs text-muted">Page Count: {{book.pageCount}}</span>
            </div>

          </div>
          <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top"><img class="me-2 rounded-circle" src="assets/img/nft/catalog/avatars/01.png" width="32" alt="Avatar"><a class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">{{followingBooks(book)}}</a></div>
          </div>
        </article>
      </div>
    </div>
      </div>
    </div>
  </main>
