<div class="gradbg">

  <main class="page-wrapper">
    <div class="container py-4 py-lg-5 my-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card border-0 shadow">
            <div class="card-body">
              <h2 class="h4 mb-3">No account? Sign up</h2>
              <p class="fs-sm text-muted mb-4">Registration takes less than a minute but gives you full control over
                your books.</p>
              <form class="needs-validation" novalidate>
                <div class="row gx-4 gy-3">
                  <div class="col-sm-6">
                    <label class="form-label" for="reg-fn">First Name</label>
                    <input class="form-control" type="text" required id="reg-fn" name="firstName"
                      [(ngModel)]="newUser.firstName">
                    <div class="invalid-feedback">Please enter your first name!</div>
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="reg-ln">Last Name</label>
                    <input class="form-control" type="text" required id="reg-ln" name="lastName"
                      [(ngModel)]="newUser.lastName">
                    <div class="invalid-feedback">Please enter your last name!</div>
                  </div>

                  <div class="col-sm-6">
                    <label class="form-label" for="reg-ln">User Name</label>
                    <input class="form-control" type="text" required id="reg-ln" name="username"
                      [(ngModel)]="newUser.username">
                    <div class="invalid-feedback">Please enter a user name!</div>
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="reg-email">E-mail Address</label>
                    <input class="form-control" type="email" required id="reg-email" name="email"
                      [(ngModel)]="newUser.email">
                    <div class="invalid-feedback">Please enter valid email address!</div>
                  </div>

                  <div class="col-sm-6">
                    <label class="form-label" for="reg-password">Password</label>
                    <input class="form-control" type="password" required id="reg-password" name="password"
                      [(ngModel)]="newUser.password">
                    <div class="invalid-feedback">Please enter password!</div>
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="reg-password-confirm">Confirm Password</label>
                    <input class="form-control" type="password" required id="reg-password-confirm">
                    <div class="invalid-feedback">Passwords do not match!</div>
                  </div>
                  <div class="col-12 text-end">
                    <button class="btn btn-primary" type="submit" value="Login" (click)="register(newUser)"><i
                        class="ci-user me-2 ms-n1"></i>Sign Up</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
