<main class="page-wrapper">
  <!-- Navbar 3 Level (Light)-->

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="#">Blog</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">List with sidebar</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 mb-0">Blog list with sidebar</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <hr class="mt-5">
    <div class="row pt-5 mt-2">
      <!-- Entries list-->
      <section class="col-lg-8">
        <!-- Entry-->
        <div *ngFor="let post of posts.slice().reverse()">
          <article class="blog-list border-bottom pb-4 mb-5" *ngIf="post.enabled === true">
            <div class="blog-start-column">
              <div class="d-flex align-items-center fs-sm pb-2 mb-1"><a class="blog-entry-meta-link">
                <div class="blog-entry-author-ava"><img [src]="post.user.imgUrl"></div>{{post.user.username}}</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" (click)="usersFollowingAdd(post.user.id)">Follow</a></div>
                <div><a class="blog-entry-meta-link">{{post.postDate | date:"short"}}</a></div>
                <h2 class="h5 blog-entry-title"><a [routerLink]="['/postview', post.id]">{{post.title}}</a></h2>
              </div>
              <div class="blog-end-column">
                <div class="d-flex justify-content-between mb-1">
                  <!-- <div class="fs-sm text-muted pe-2 mb-2">in <a href='#' class='blog-entry-meta-link'>Travel</a>, <a href='#' class='blog-entry-meta-link'>Personal finance</a></div> -->
                  <div class="fs-sm mb-2"><a class="blog-entry-meta-link text-nowrap" [routerLink]="['/postview', {'id': post.id, 'comments':'comments'}]"><i class="ci-message"></i>{{post.comments.length}}</a></div>
                </div>
            <p class="fs-sm">{{post.content}} <a href='blog-single-sidebar.html' class='blog-entry-meta-link fw-medium' [routerLink]="['/postview', post.id]"> [Read more]</a></p>
          </div>
        </article>
        </div>
        <div class="container py-5 mt-md-2 mb-md-4">
          <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-9">
              <form class="needs-validation" novalidate>
                <div class="row gx-4 gy-3">
                  <div class="col-sm-12">
                    <label class="form-label" for="help-subject">Post Header <strong class='text-danger'>*</strong></label>
                    <input class="form-control" type="text" id="help-subject" name="title" [(ngModel)]="newPost.title">
                  </div>
                  <div class="col-12">
                    <label class="form-label" for="help-message">Post Message <strong class='text-danger'>*</strong></label>
                    <textarea class="form-control" rows="6" required id="help-message"  name="title" [(ngModel)]="newPost.content"></textarea>
                  </div>
                  <div class="col-12 pt-2">
                    <button class="btn btn-primary me-4" (click)="makePost()">Submit Post</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Pagination-->
          <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
            </ul>
            <ul class="pagination">
              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
              <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
              <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
              <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
              <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
              <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
            </ul>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
            </ul>
          </nav>
        </section>
        <aside class="col-lg-4">
          <!-- Sidebar-->
          <div class="offcanvas offcanvas-collapse offcanvas-end border-start ms-lg-auto" id="blog-sidebar" style="max-width: 22rem;">
            <div class="offcanvas-header align-items-center shadow-sm">
              <h2 class="h5 mb-0">Sidebar</h2>
              <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body py-grid-gutter py-lg-1 px-lg-4" data-simplebar data-simplebar-auto-hide="true">
            <!-- Trending posts-->
            <div class="widget mb-grid-gutter pb-grid-gutter border-bottom mx-lg-2">
              <h3 class="widget-title">Popular posts</h3>
              <div class="d-flex align-items-center mb-3" *ngFor="let post of popularPosts"><a class="flex-shrink-0" [routerLink]="['/postview', post.id]"><img class="rounded" [src]="post.user.imgUrl" width="64" alt="Post image"></a>
                <div class="ps-3">
                  <h6 class="blog-entry-title fs-sm mb-0"><a [routerLink]="['/postview', post.id]">{{post.title}}</a></h6><span class="fs-ms text-muted">by <a [routerLink]="['/postview', post.id]" class='blog-entry-meta-link'>{{post.user.username}}</a></span>
                  <br>
                  <span class="fs-ms text-muted"><i class="ci-message"></i> {{post.comments.length}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>
