<div class="overflow-auto mx-auto border text-center" style="width: 1000px;">
  <h3>Statistics</h3>
  <br>
  <p>Check out your statistics! It's important to see your progress over time for self improvement!</p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
    View Statistics
  </button>
  <br>
  <br>
<div class="collapse" id="collapseExample2">
    <p>test</p>
    <br>
</div>
</div>
