<main class="page-wrapper">
  <!-- Navbar 3 Level (Light)-->

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 mb-0">Post</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5">
    <div class="row pt-5 mt-md-2">
      <section class="col-lg-8" *ngIf="selected != null">
        <!-- Post meta-->
        <div class="d-flex flex-wrap justify-content-between align-items-center pb-4 mt-n1" *ngIf="selected != null">
          <div class="d-flex align-items-center fs-sm mb-2"><a class="blog-entry-meta-link">
              <div class="blog-entry-author-ava"><img [src]="selected.user.imgUrl"></div>{{selected.user.username}}</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">{{selected.postDate | date:"medium"}}</a></div>
          <div class="fs-sm mb-2"><a class="blog-entry-meta-link text-nowrap" data-scroll><i class="ci-message"></i>{{selected.comments.length}}</a></div>
        </div>
        <!-- Post content-->
        <h2 *ngIf="selected != null">{{selected.title}}</h2>
        <blockquote class="testimonial my-4 pt-4 pb-2">
          <div class="card border-0 shadow-sm"><span class="testimonial-mark"></span>
            <div class="card-body fs-md">{{selected.content}}</div>
          </div>
        </blockquote>
        <!-- Comments-->
        <div class="pt-2 mt-5">
          <h2 class="h4">Comments<span class="badge bg-secondary fs-sm text-body align-middle ms-2">{{comments.length}}</span></h2>
          <div *ngFor="let comment of comments">
          <!-- comment-->
          <div class="d-flex align-items-start py-4 border-bottom" *ngIf="comment.comment === null"><img class="rounded-circle" [src]="comment.user.imgUrl" width="50">
            <div class="ps-3" >
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h6 class="fs-md mb-0">{{comment.user.username}}</h6><a class="nav-link-style fs-sm fw-medium" [attr.data-bs-target]="'#collapseExample'+comment.id" data-bs-toggle="collapse" [attr.aria-controls]="'collapseExample'+ comment.id"><i class="ci-reply me-2"></i>Reply</a>
              </div>
              <p class="fs-md mb-1">{{comment.content}}</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>{{comment.commentDate | date:"medium"}}</span>
              <!-- comment reply-->
              <div class="d-flex align-items-start border-top pt-4 mt-4" *ngFor="let reply of comment.comments"><img class="rounded-circle" [src]="reply.user.imgUrl" width="50">
                <div class="ps-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="fs-md mb-0">{{reply.user.username}}</h6>
                  </div>
                  <p class="fs-md mb-1">{{reply.content}}</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>{{reply.commentDate | date:"medium"}}</span>
                </div>
              </div>
            </div>
          <div class="collapse" [attr.id]="'collapseExample'+comment.id">
            <div class="card border-0 shadow mt-2 mb-4">
              <div class="card-body">
                <div class="d-flex align-items-start"><img class="rounded-circle" [src]="user?.imgUrl" width="50" alt="Mary Alice">
                  <form class="w-100 needs-validation ms-3" novalidate>
                    <div class="mb-3">
                      <textarea name="content" [(ngModel)]="newComment.content" class="form-control" rows="4" placeholder="Write reply..." required></textarea>
                      <div class="invalid-feedback">Please write your reply.</div>
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit" (click)="postCommentReply(comment)">Post comment</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
          <!-- Post first comment form-->
          <div class="card border-0 shadow mt-2 mb-4" id="comments">
            <div class="card-body">
              <div class="d-flex align-items-start"><img class="rounded-circle" [src]="user?.imgUrl"  width="50" alt="Mary Alice">
                <form class="w-100 needs-validation ms-3" novalidate>
                  <div class="mb-3">
                    <textarea name="content" [(ngModel)]="newComment.content" class="form-control" rows="4" placeholder="Write comment..." required></textarea>
                    <div class="invalid-feedback">Post a comment.</div>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" (click)="postComment()">Post comment</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <aside class="col-lg-4">
        <!-- Sidebar-->
        <div class="offcanvas offcanvas-collapse offcanvas-end border-start ms-lg-auto" id="blog-sidebar" style="max-width: 22rem;">
          <div class="offcanvas-header align-items-center shadow-sm">
            <h2 class="h5 mb-0">Sidebar</h2>
            <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body py-grid-gutter py-lg-1 px-lg-4" data-simplebar data-simplebar-auto-hide="true">
          <!-- Trending posts-->
          <div class="widget mb-grid-gutter pb-grid-gutter border-bottom mx-lg-2">
            <h3 class="widget-title">Popular posts</h3>
            <div class="d-flex align-items-center mb-3" *ngFor="let post of popularPosts"><a class="flex-shrink-0" [routerLink]="['/postview', post.id]"><img class="rounded" [src]="post.user.imgUrl" width="64" alt="Post image"></a>
              <div class="ps-3">
                <h6 class="blog-entry-title fs-sm mb-0"><a [routerLink]="['/postview', post.id]">{{post.title}}</a></h6><span class="fs-ms text-muted">by <a [routerLink]="['/postview', post.id]" class='blog-entry-meta-link'>{{post.user.username}}</a></span>
                <br>
                <span class="fs-ms text-muted"><i class="ci-message"></i> {{post.comments.length}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
    </div>
  </div>
</main>
