<header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light">
  <div class="container"><a class="navbar-brand d-none d-sm-block me-4 order-lg-1" href="index.html"><img src="assets/img/BookNookLogo.jpg" width="142" alt="Cartzilla"></a><a class="navbar-brand d-sm-none me-2 order-lg-1" href="index.html"><img src="img/logo-icon.png" width="74" alt="Cartzilla"></a>
    <div class="navbar-toolbar d-flex align-items-center order-lg-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
        <div *ngIf="loggedIn() == true" class="navbar-tool-icon-box"></div></a><a class="navbar-tool ms-lg-2" [routerLink]="['/myaccount/profile']" data-bs-toggle="modal"><span class="navbar-tool-tooltip">Account</span>
        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div></a>
      </div>
      <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
        <!-- Search (mobile)-->
        <div class="d-lg-none py-3">
          <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input class="form-control rounded-start" type="text" placeholder="What do you need?">
          </div>
        </div>
        <!-- Primary menu-->
        <ul class="navbar-nav">
          <!-- <li class="nav-item dropdown"><a class="nav-link" [routerLink]="['/home']">Home</a></li> -->
          <li *ngIf="loggedIn()" class="nav-item dropdown"><a class="nav-link" [routerLink]="['/bookshelf']">Bookshelf</a></li>
          <li *ngIf="loggedIn()" class="nav-item dropdown"><a class="nav-link" [routerLink]="['/postlist']">Nook</a></li>
          <li *ngIf="loggedIn() == false" class="nav-item dropdown"><a class="nav-link" [routerLink]="['/login']">Log In</a></li>
          <li *ngIf="loggedIn() == false" class="nav-item dropdown"><a class="nav-link" [routerLink]="['/register']">Register</a></li>

          <li *ngIf="loggedIn() && user !== null" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Account</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/myaccount', 'profile']">Profile Settings</a></li>
              <li><a class="dropdown-item" [routerLink]="['/myaccount', 'posts']">My Posts</a></li>
              <li><a class="dropdown-item" [routerLink]="['/myaccount', 'wishlist']">My Wishlist</a></li>
              <li><a class="dropdown-item" [routerLink]="['/myaccount', 'favorites']">My Favorites</a></li>
              <li><a class="dropdown-item" [routerLink]="['/myaccount', 'finished']">My Finished Books</a></li>
              <li><a class="dropdown-item" [routerLink]="['/myaccount', 'reading']">Books I'm Reading</a></li>
            </ul>
          </li>
          <li *ngIf="loggedIn()" class="nav-item dropdown"><a class="nav-link" [routerLink]="['/logout']">Log Out</a></li>
        </ul>
    </div>
  </div>
</header>




<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nook']">Nook</a>
        </li>


        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <app-login></app-login>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <app-logout></app-logout>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
