<main class="page-wrapper" *ngIf="user !== null">
  <!-- Navbar 3 Level (Light)-->

  <!-- Page Title-->
  <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">My Account</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
        <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
          <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
            <div class="d-md-flex align-items-center">
              <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;"><span class="badge bg-warning position-absolute end-0 mt-n2" data-bs-toggle="tooltip" title="Reward points">Posts: {{user.posts.length}}</span><img class="rounded-circle" [src]="user.imgUrl" alt="Susan Gardner"></div>
              <div class="ps-md-3">
                <h3 class="fs-base mb-0">{{user.username}}</h3><span class="text-accent fs-sm">{{user.email}}</span>
              </div>
            </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account menu</a>
          </div>
          <div class="d-lg-block collapse" id="account-menu">
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="javascript:void(0)" (click)="wishlist = false; favorites = false; finished = false; reading = false; postsEnabled = true; profile = false;"><i class="ci-bag opacity-60 me-2"></i>Posts<span class="fs-sm text-muted ms-auto">{{posts.length}}</span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="javascript:void(0)" (click)="wishlist = true; favorites = false; finished = false; reading = false; postsEnabled = false; profile = false;"><i class="ci-heart opacity-60 me-2"></i>Wishlist<span class="fs-sm text-muted ms-auto">{{user.wishlistBooks.length}}</span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="javascript:void(0)" (click)="wishlist = false; favorites = false; finished = false; reading = true; postsEnabled = false; profile = false;"><i class="ci-heart opacity-60 me-2"></i>Currently Reading<span class="fs-sm text-muted ms-auto">{{user.readingBooks.length}}</span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="javascript:void(0)"  (click)="wishlist = false; favorites = true; finished = false; reading = false; postsEnabled = false; profile = false;"><i class="ci-heart opacity-60 me-2"></i>Favorite Books<span class="fs-sm text-muted ms-auto">{{user.favoriteBooks.length}}</span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="javascript:void(0)" (click)="wishlist = false; favorites = false; finished = true; reading = false; postsEnabled = false; profile = false;"><i class="ci-heart opacity-60 me-2"></i>Finished Books<span class="fs-sm text-muted ms-auto">{{user.finishedBooks.length}}</span></a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="account-tickets.html"><i class="ci-help opacity-60 me-2"></i>Support tickets<span class="fs-sm text-muted ms-auto">1</span></a></li>
            </ul>
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="javascript:void(0)" (click)="wishlist = false; favorites = false; finished = false; reading = false; postsEnabled = false; profile = true;"><i class="ci-user opacity-60 me-2"></i>Profile info</a></li>
              <li class=" border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" [routerLink]="['/logout']"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
            </ul>
          </div>
        </div>
      </aside>
      <!-- Content  -->
      <section *ngIf="wishlist === true" class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 *ngIf="wishlist === true" class="fs-base text-light mb-0">List of books you added to wishlist:</h6><a class="btn btn-primary btn-sm" [routerLink]="['/logout']"><i class="ci-sign-out me-2"></i>Sign out</a>
        </div>
        <!-- Wishlist-->
        <!-- Item-->
        <div *ngFor="let book of wishlistBooks.slice().reverse()" class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
          <div class="d-block d-sm-flex align-items-start text-center text-sm-start"><a class="d-block flex-shrink-0 mx-auto me-sm-4" (click)="displayBook(book)" style="width: 10rem;"><img [src]="book.imgUrl" alt="Product"></a>
            <div class="pt-2">
              <h3 class="product-title fs-base mb-2"><a (click)="displayBook(book)">{{book.title}}</a></h3>
              <div class="fs-sm" *ngFor="let author of book.authors"><span class="text-muted me-2">Author:</span>{{author.fullName}}</div>
              <div class="fs-sm" *ngFor="let category of book.categories"><span class="text-muted me-2">Genre:</span>{{category.name}}</div>
              <div class="fs-sm"><span class="text-muted me-2">Description:</span>{{book.description}}</div>
            </div>
          </div>
          <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeFromWishlist(book)"><i class="ci-trash me-2"></i>Remove</button>
          </div>
        </div>
      </section>
      <!-- Content  -->
      <section *ngIf="postsEnabled === true" class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 *ngIf="postsEnabled === true" class="fs-base text-light mb-0">List of posts you've made:</h6><a class="btn btn-primary btn-sm" [routerLink]="['/logout']"><i class="ci-sign-out me-2"></i>Sign out</a>
        </div>
        <!-- Item-->
        <div *ngFor="let post of posts.slice().reverse()" class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
          <div class="d-block d-sm-flex align-items-start text-center text-sm-start"><a class="d-block flex-shrink-0 mx-auto me-sm-4" (click)="displayPost(post)" style="width: 10rem;"><img [src]="user.imgUrl" alt="Product"></a>
            <div class="pt-2">
              <h3 class="product-title fs-base mb-2"><a (click)="displayPost(post)">{{post.title}}</a></h3>
              <div class="fs-sm"><span class="text-muted me-2">Content: </span>{{post.content}}</div>
            </div>
          </div>
          <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeFromPost(post)"><i class="ci-trash me-2"></i>Remove</button>
          </div>
        </div>
      </section>
      <!-- Content  -->
      <section *ngIf="finished === true" class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 *ngIf="finished === true" class="fs-base text-light mb-0">List of books you finished:</h6><a class="btn btn-primary btn-sm" [routerLink]="['/logout']"><i class="ci-sign-out me-2"></i>Sign out</a>
        </div>
        <!-- Wishlist-->
        <!-- Item-->
        <div *ngFor="let book of finishedBooks.slice().reverse()" class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
          <div class="d-block d-sm-flex align-items-start text-center text-sm-start"><a class="d-block flex-shrink-0 mx-auto me-sm-4" (click)="displayBook(book)" style="width: 10rem;"><img [src]="book.imgUrl" alt="Product"></a>
            <div class="pt-2">
              <h3 class="product-title fs-base mb-2"><a (click)="displayBook(book)">{{book.title}}</a></h3>
              <div class="fs-sm" *ngFor="let author of book.authors"><span class="text-muted me-2">Author:</span>{{author.fullName}}</div>
              <div class="fs-sm" *ngFor="let category of book.categories"><span class="text-muted me-2">Genre:</span>{{category.name}}</div>
              <div class="fs-sm"><span class="text-muted me-2">Description:</span>{{book.description}}</div>
            </div>
          </div>
          <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeFromFinished(book)"><i class="ci-trash me-2"></i>Remove</button>
          </div>
        </div>
      </section>
      <!-- Content  -->
      <section *ngIf="favorites === true" class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 *ngIf="favorites === true" class="fs-base text-light mb-0">List of books you added to your favorites:</h6><a class="btn btn-primary btn-sm" [routerLink]="['/logout']"><i class="ci-sign-out me-2"></i>Sign out</a>
        </div>
        <!-- Wishlist-->
        <!-- Item-->
        <div *ngFor="let book of favoriteBooks.slice().reverse()" class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
          <div class="d-block d-sm-flex align-items-start text-center text-sm-start"><a class="d-block flex-shrink-0 mx-auto me-sm-4" (click)="displayBook(book)" style="width: 10rem;"><img [src]="book.imgUrl" alt="Product"></a>
            <div class="pt-2">
              <h3 class="product-title fs-base mb-2"><a (click)="displayBook(book)">{{book.title}}</a></h3>
              <div class="fs-sm" *ngFor="let author of book.authors"><span class="text-muted me-2">Author:</span>{{author.fullName}}</div>
              <div class="fs-sm" *ngFor="let category of book.categories"><span class="text-muted me-2">Genre:</span>{{category.name}}</div>
              <div class="fs-sm"><span class="text-muted me-2">Description:</span>{{book.description}}</div>
            </div>
          </div>
          <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeFromFavorite(book)"><i class="ci-trash me-2"></i>Remove</button>
          </div>
        </div>
      </section>
      <!-- Update Profile Section  -->
  <section class="col-lg-8" *ngIf="profile === true">
    <!-- Toolbar-->
    <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
      <h6 class="fs-base text-light mb-0">Update you profile details below:</h6><a class="btn btn-primary btn-sm" href="account-signin.html"><i class="ci-sign-out me-2"></i>Sign out</a>
    </div>
    <!-- Profile form-->
    <form>
      <div class="row gx-4 gy-3">
        <div class="col-sm-6">
          <label class="form-label" for="account-fn">Image URL</label>
          <input class="form-control" type="text" id="account-imgurl" value="{{user.imgUrl}}" [(ngModel)]="user.imgUrl" name="imgUrl">
        </div>
        <div class="input-group">
          <span class="input-group-text">
            <i class="ci-ice-cream"></i>
          </span>
          <textarea class="form-control" placeholder="Type your message here..." [(ngModel)]="user.biography" rows="6" name="biography"></textarea>
        </div>
        <div class="col-sm-6">
          <label class="form-label" for="account-fn">First Name</label>
          <input class="form-control" type="text" id="account-fn" [(ngModel)]="user.firstName" name="firstName">
        </div>
        <div class="col-sm-6">
          <label class="form-label" for="account-ln">Last Name</label>
          <input class="form-control" type="text" id="account-ln" [(ngModel)]="user.lastName" name="lastName">
        </div>
        <div class="col-sm-6">
          <label class="form-label" for="account-email">Email Address</label>
          <input class="form-control" type="email" id="account-email" [(ngModel)]="user.email" name="email" disabled>
        </div>

        <div class="col-sm-6">
          <label class="form-label" for="account-pass">New Password</label>
          <div class="password-toggle">
            <input class="form-control" type="password" id="account-pass" name="password">
            <label class="password-toggle-btn" aria-label="Show/hide password">
              <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
            </label>
          </div>
        </div>
        <div class="col-12">
          <hr class="mt-2 mb-3">
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <button class="btn btn-primary mt-3 mt-sm-0" type="button" (click)="updateUser(user)">Update profile</button>
          </div>
        </div>
      </div>
    </form>
  </section>
       <!-- Content  -->
       <section *ngIf="reading === true" class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 *ngIf="reading === true" class="fs-base text-light mb-0">List of books you added to your favorites:</h6><a class="btn btn-primary btn-sm" [routerLink]="['/logout']"><i class="ci-sign-out me-2"></i>Sign out</a>
        </div>
        <!-- Wishlist-->
        <!-- Item-->
        <div *ngFor="let book of readingBooks.slice().reverse()" class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
          <div class="d-block d-sm-flex align-items-start text-center text-sm-start"><a class="d-block flex-shrink-0 mx-auto me-sm-4" (click)="displayBook(book)" style="width: 10rem;"><img [src]="book.imgUrl" alt="Product"></a>
            <div class="pt-2">
              <h3 class="product-title fs-base mb-2"><a (click)="displayBook(book)">{{book.title}}</a></h3>
              <div class="fs-sm" *ngFor="let author of book.authors"><span class="text-muted me-2">Author:</span>{{author.fullName}}</div>
              <div class="fs-sm" *ngFor="let category of book.categories"><span class="text-muted me-2">Genre:</span>{{category.name}}</div>
              <div class="fs-sm"><span class="text-muted me-2">Description:</span>{{book.description}}</div>
            </div>
          </div>
          <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeFromReading(book)"><i class="ci-trash me-2"></i>Remove</button>
          </div>
        </div>
      </section>
    </div>
  </div>






</main>





